.lead__title{
  margin: 0 auto 32px;
  padding: 0;
  display: flex;
  max-width: 720px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__title {
  margin-bottom: 32px;
  }
}

@media screen and (max-width: 675px) {
  .lead__title {
    font-size: 12vw;
  }
}

@media screen and (max-width: 480px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 319px) {
  .lead__title {
    font-size: 12vw;
    line-height: 1.15;
  }
}

